{% extends 'todolist/base.html' %}

{% block title %}
    Cũng là địt mẹ mày nhưng ghi đè
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">List</th>
      <th scope="col">Number of Item</th>
    </tr>
  </thead>
  <tbody>
    {% for item in list %}
        <tr>
          <th scope="row">{{ item.id }}</th>
          <td><a href="/{{ item.id }}">{{ item.name }}</a></td>
          <td>{{ item.item_set.count }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}